# Node modules
node_modules/
file/*
file/
# Logs
logs
*.log
npm-debug.log*
config.env

# Environment variables
.env
.config.env
*.env

# Build output
dist/
capture/
build/
client/node_modules/
client/windows/
client/resources/
client/dist/
cert/
./cert/*
public/downloads/
# Temporary files
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.tgz

.npm
.eslintcache
.stylelintcache
